@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root{
    --font-heading: 'Paytone One', sans-serif;
    --font-text: 'Jost', sans-serif;
    --font-text2: 'Preahvihear', sans-serif;
    --color1: #F8AFB6
}

*{
    margin: 0px;
    padding: 0px;
}

html,body {
    min-height: 100vh;
    background-color: var(--color1);
    font-family: var(--font-text);       
}

body > section{
    border-top: 0px;
    border-right: 4px;
    border-bottom: 0px;
    border-left: 4px;    
    border-style: solid;
    border-color: black;
    margin: 0px 30px 0px 30px
}

header{
    background-color: var(--color1);
    color: black;
    text-align: center;
    border-top: 4px;
    border-right: 4px;
    border-bottom: 4px;
    border-left: 4px;    
    border-style: solid;
    border-color: black;
    margin: 30px 30px 0px 30px;
}

header > h1{
    padding-top: 35px;
    font-variant: small-caps;
    font-family: var(--font-heading);
    font-size: 9vw;
}

header > h2{
    padding-bottom: 35px;
    text-transform: uppercase;
    font-family: var(--font-heading);
    font-size: 3vw;
}

header > p {
    padding-bottom: 35px;
    font-size: 3vw;
}

a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover{
    text-decoration: underline;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--font-text2);
    font-size: 3vw;
}

section > p{
    padding-bottom: 2em;
}

section.normal{
    background-color: var(--color1);
    color: black;
}

section.normal > p{
    padding-left: 20px;
}

section.imagem{
    background-color: var(--color1);
    color: black;
}

section.imagem > p{
    display: inline-block;
    padding: 20px;
    border: 3px solid black;
    outline: 4px solid var(--color1);
    background-color: var(--color1);
}

section#img01{
    background-image: url(../imagens/xilogravura1.png);
    background-position: right center;
    background-attachment: fixed;
}

section#img02{
    background-image: url(../imagens/letter.jpg);
    background-position: right center;
    background-attachment: fixed;
}

footer{
    background-color: var(--color1);
    color: black;
    text-align: center;
    padding: 10px;
    border-top: 4px;
    border-right: 4px;
    border-bottom: 4px;
    border-left: 4px;    
    border-style: solid;
    border-color: black;    margin: 0px 30px 30px 30px;
}
